<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Listings</title>
    <!-- Add your CSS stylesheets here -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css')}}" />
</head>
<body>
    <h1 class="internship-header">Job Listings</h1>

    <div class="job-container">
        <div class="job-listing">
            <table class="job-content">
                <tr>
                    <th>Company Name</th>
                    <th>Job Title</th>
                    <th>Allowance</th>
                    <th>Job Requirement</th>
                    <th>Job Position</th>
                </tr>
                {% for job in jobs %}
                <tr>
                    <td>{{ job.company_name }}</td>
                    <td>{{ job.job_position }}</td>
                    <td>{{ job.salary }}</td>
                    <td>{{ job.job_requirement }}</td>
                    <td>{{ job.job_type }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</body>
</html>
